body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* color: #606c71; */
}

.page-header {
  color: #fff;
  text-align: center;
  padding: 4rem 6rem;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}

.project-name {
  font-weight: bolder;
  font-size: 3.25rem;
  margin-bottom: 2rem;
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1.25rem;
  opacity: 0.7;
}

.button {
  display: inline-block;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.button:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
}

.main-content {
  margin: 3rem auto;
}

.main-content .demo-title {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1.7rem;
  color: #058ca7;
}

.code-container {
  border: 2px solid #f6f8fa;
  padding: 1rem 1rem 0rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.editable-container {
  background-color: #f6f8fa;
  margin: 1rem -1rem 0 -1rem;
}

.textarea {
  position: absolute; z-index: -99999;
}

.code-header {
  border-bottom: 1px solid #d1d5da;
  padding: 0.5rem;
}

.editable {
  padding: 1rem;
}

.btn,
.editable {
  border: none;
  outline: none;
}

.run {
  background-color: #07abcc;
}

.run:hover {
  background-color: #058ca7;
}

pre,
code {
  margin: 0 !important;
  font-size: 0.75rem;
}

.form-group {
  margin-bottom: 3rem;
}

.view-guide {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  background-image: linear-gradient(120deg, #155799, #159957);
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #c3c1c1;
}

.view-guide:hover {
  text-decoration: none;
  color: #c3c1c1;
}
